*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    list-style: none;
}
body {
    background-color: black;
}
header {
    background-color: black;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px   10%;
}
.logo img {
    height: 80px; 
    width: auto;
    cursor: pointer;
    padding: 15px;
}
.nav-links {
    list-style: none;
    margin-right: 400px;
    margin-left: 1px;
}
.nav-links li{
    display: inline-block;
    padding: 15px;
}
.nav-links a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
}
.nav-links li a:hover {
    color: rgb(255, 77, 0);
}
.ubicacion {
display: flex;
justify-content: right;
}
.map {
    list-style: none;
}
.map li {
    display: inline-block;
    margin-left: 10px;
}
.map a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.map a:hover {
    color: gray;
}

.unete button {
    font-size: 25px;
    font-weight: 25px;
    color: rgb(255, 77, 0);
    padding: 12px 35px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 5px;
}
.ingresar button{
    font-size: 25px;
    font-weight: 15px;
    color: white;
    padding: 12px 35px;
    background-color: rgb(255, 77, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    margin: 0px 5px;
}
.unete button:hover {
    background-color: gray;
    color: rgb(57, 57, 57);
}
.ingresar button:hover {
    background-color: gray;
    color: rgb(57, 57, 57);
}

.cartel {
    margin-bottom: 30px;
}
.imagen1 {
    background-color: orangered;
    width: 860px;
    margin: 0px 110px;
    float: left;

}
.textos1 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: orangered;
    margin: 0px 110px;
    padding: 146px 0px;
    text-align: center;
}
.titulo {
    font-weight: 800;
    font-size: xx-large;
}
.imagen2 {
    background-color: rgb(238, 168, 139);
    width: 800px;
    margin: 0px 110px;
    float: right;
}
.textos2 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: rgb(238, 168, 139);
    margin: 0px 110px;
    padding: 128.5px 0px;
    text-align: center;
}
.imagen3 {
    background-color: orangered;
    width: 860px;
    margin: 0px 110px;
    float: left;
}
.textos3 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: orangered;
    margin: 0px 110px;
    padding: 125.5px 0px;
    text-align: center;
}
.boton-cartel button{
    font-size: 25px;
    font-weight: 15px;
    color: white;
    padding: 5px 20px;
    background-color: orangered;
    border: solid;
    border-color: white;
    border-radius: 50px;
    cursor: pointer; 
    margin: 0px 5px;
}
.boton-cartel button:hover {
background-color: rgb(255, 111, 59);
}
.imagen4 {
    background-color: rgb(42, 42, 42);
    width: 860px;
    margin: 0px 110px;
    float: right;
}
.textos4 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: rgb(42, 42, 42);
    margin: 0px 110px;
    padding: 164px 0px;
    text-align: center;
}
.imagen5 {
    background-color: rgb(220, 127, 77);
    width: 860px;
    margin: 0px 110px;
    float: right;
}
.textos5 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: rgb(220, 127, 77);
    margin: 0px 110px;
    padding: 111px 0px;
    text-align: center;
}
.imagen6 {
    background-color: rgb(223, 90, 18);
    width: 860px;
    margin: 0px 110px;
    float: left;
}
.textos6 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: rgb(223, 90, 18);
    margin: 0px 110px;
    padding: 106px 0px;
    text-align: center;
}
.boton-cartel2 button{
    font-size: 25px;
    font-weight: 15px;
    color: white;
    padding: 5px 20px;
    background-color: rgb(223, 90, 18);
    border: solid;
    border-color: white;
    border-radius: 50px;
    cursor: pointer; 
    margin: 0px 5px;
}
.boton-cartel2 button:hover {
    background-color: rgb(253, 132, 88);
}
.imagen7 {
    background-color: rgb(42, 42, 42);
    width: 860px;
    margin: 0px 110px;
    float: left;
}
.textos7 {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background-color: rgb(42, 42, 42);
    margin: 0px 110px;
    padding: 141px 0px;
    text-align: center;
}
.boton-cartel3 button{
    font-size: 25px;
    font-weight: 15px;
    color: white;
    padding: 5px 20px;
    background-color: rgb(42, 42, 42);
    border: solid;
    border-color: white;
    border-radius: 50px;
    cursor: pointer; 
    margin: 0px 5px;
}
.boton-cartel3 button:hover {
    background-color: rgb(81, 81, 81);
}
.bottom {
    width: 800px;
    height: 950px;
    float: left;
    position: relative;
    margin-top: 30px;
    margin-left: 110px;
    background-color: rgb(73, 73, 73);
}
.bottom img {
    width: 100%;
    height: 70%;
}
.bottom p {
    color: white;
    text-align: center;
    font-size: 20px;
    position: bottom;
    top: 50%;
    left: 50%;
}
.bottom button {
    font-size: 25px;
    font-weight: 15px;
    color: white;
    padding: 2px 20px;
    background-color: rgb(73, 73, 73);
    border: solid;
    border-color: white;
    border-radius: 50px;
    cursor: pointer; 
}
.bottom button:hover {
    background-color: rgb(102, 102, 102);
}
.boton-izquierda {
    text-align: center;
}
.bottom2 {
    width: 800px;
    height: 950px;
    float: right;
    position: relative;
    margin-top: 30px;
    margin-right: 110px;
    background-color: rgb(170, 170, 170);
}
.bottom2 img {
    width: 100%;
    height: 70%;
}
.bottom2 p {
    color: white;
    text-align: center;
    font-size: 20px;
    position: bottom;
    top: 50%;
    left: 50%;
}
.bottom2 button {
    font-size: 25px;
    font-weight: 15px;
    color: white;
    padding: 2px 20px;
    background-color: rgb(170, 170, 170);
    border: solid;
    border-color: white;
    border-radius: 50px;
    cursor: pointer; 
}
.bottom2 button:hover {
    background-color: rgb(179, 179, 179);
}
.boton-izquierda2 {
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 1680px;
}
.footer {
    background-color: black;
    margin-top: 1020px;
}
.footer-row {
    background-color: rgb(0, 0, 0);
    display: flex;
}
.footer-links {
    width: 25%;
    padding: 10px 15px;
}
.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
    display: inline-block
}
.footer-links ul li a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
}
.footer-links ul li a:hover {
    color: orangered;
}
.footer-redes {
    text-align: center;
    margin-bottom: 40px;
}
.footer-redes a{
    color: orangered;
    display: inline-block;
    padding: 10px;
}
.footer-redes a:hover {
    color: white;
    transform: translateY(-2px)
    
}
.footer-terms {
    display: flex;
    max-width: 1680px;
    margin: 0 auto;
    justify-content: center;
}
.footer-terms ul li{
    display: inline-block;
}
.footer-terms ul li a {
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.starbucs-company {
    color: white;
    text-align: center;
    margin: 20px 0px;
}
.starbucs-company p {
    font-size: 9px;
}
